@{
    ViewData["Title"] = "Home Page";
}

<br />

<div>
	<h3> Who We Are</h3>

	<p>

		Anthony Tepedino keeps his company’s original business plan in the forefront of his mind

		ASG’s CEO and President reflects that the company expanded by recognizing clients’ needs and providing them with the tools necessary for ASG to complete their builds. “We started developing new skillsets [as needed],” recalls Tepedino. “There are over 17 disciplines (i.e. surveys, designs, mapping, etc.)  in engineering alone—and we do them all in-house.”

		In the last decade, ASG has become a pivotal leader in the information communication technology industry, providing end-to-end solutions with design and construction services. The fast-growing company has increased its employee base by 197% in the last five years.
	</p>
</div>